<!-- About -->
<section id="about" class="about">
    <div class="about__wrapper">
      <h3 class="about__question">What you are looking for</h3>
      <h2 class="about__title">We provide bespoke solutions</h2>
      <p class="about__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
        dignissimos quae laudantium asperiores nam aliquid impedit harum illum
        dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
        deleniti?
      </p>
      <button type="button" class="button button__secondary button_theme_green">
        Read More
      </button>
    </div>
  </section>