<!-- Cases -->
<section id="cases" class="cases">
    <div class="container">
      <h3 class="cases__answer">This is what we do</h3>
      <h2 class="cases__title">Business Cases</h2>
      <p class="cases__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="cases__list list">
        <li class="cases__item">
          <a
            href="./images/cases/cases1.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases1.webp     640w,
                  ./images/cases/cases1@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases1.jpg     640w,
                  ./images/cases/cases1@2x.jpg 1280w
                "
                src="./images/cases/cases1.jpg"
                class="cases__image"
                alt="cases1"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
        <li class="cases__item">
          <a
            href="./images/cases/cases2.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases2.webp     640w,
                  ./images/cases/cases2@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases2.jpg     640w,
                  ./images/cases/cases2@2x.jpg 1280w
                "
                src="./images/cases/cases2.jpg"
                class="cases__image"
                alt="cases2"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
        <li class="cases__item">
          <a
            href="./images/cases/cases3.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases3.webp     640w,
                  ./images/cases/cases3@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases3.jpg     640w,
                  ./images/cases/cases3@2x.jpg 1280w
                "
                src="./images/cases/cases3.jpg"
                class="cases__image"
                alt="cases3"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
        <li class="cases__item">
          <a
            href="./images/cases/cases4.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases4.webp     640w,
                  ./images/cases/cases4@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases4.jpg     640w,
                  ./images/cases/cases4@2x.jpg 1280w
                "
                src="./images/cases/cases4.jpg"
                class="cases__image"
                alt="cases4"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
        <li class="cases__item">
          <a
            href="./images/cases/cases5.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases5.webp     640w,
                  ./images/cases/cases5@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases5.jpg     640w,
                  ./images/cases/cases5@2x.jpg 1280w
                "
                src="./images/cases/cases5.jpg"
                class="cases__image"
                alt="cases5"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
        <li class="cases__item">
          <a
            href="./images/cases/cases6.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases6.webp     640w,
                  ./images/cases/cases6@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases6.jpg     640w,
                  ./images/cases/cases6@2x.jpg 1280w
                "
                src="./images/cases/cases6.jpg"
                class="cases__image"
                alt="cases6"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
        <li class="cases__item">
          <a
            href="./images/cases/cases7.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases7.webp     640w,
                  ./images/cases/cases7@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases7.jpg     640w,
                  ./images/cases/cases7@2x.jpg 1280w
                "
                src="./images/cases/cases7.jpg"
                class="cases__image"
                alt="cases7"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
        <li class="cases__item">
          <a
            href="./images/cases/cases8.jpg"
            data-lightbox="cases"
            data-title="My caption"
          >
            <picture>
              <source
                srcset="
                  ./images/cases/cases8.webp     640w,
                  ./images/cases/cases8@2x.webp 1280w
                "
                type="image/webp"
                sizes="640px"
              />
              <img
                srcset="
                  ./images/cases/cases8.jpg     640w,
                  ./images/cases/cases8@2x.jpg 1280w
                "
                src="./images/cases/cases8.jpg"
                class="cases__image"
                alt="cases8"
                sizes="640px"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </section>