<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <nav id="nav" class="header-nav">
            <a href="/index.html" class="logo" aria-label="logo"><span class="logo__span">Finance</span> Ledger</a
      >
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a href="#home" class="site-nav__link" aria-label="Home">Home</a>
            </li>
            <li class="site-nav__item">
                <a href="#about" class="site-nav__link" aria-label="About">About</a>
            </li>
            <li class="site-nav__item">
                <a href="#cases" class="site-nav__link" aria-label="Cases">Cases</a>
            </li>
            <li class="site-nav__item">
                <a href="#blog" class="site-nav__link" aria-label="Blog">Blog</a>
            </li>
            <li class="site-nav__item">
                <a href="#contact" class="site-nav__link" aria-label="Contact">Contact</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>