.form__field {
    position: relative;
  
    &:not(:last-child) {
      margin-bottom: 36px;
    }
    &:nth-child(2) {
      margin-bottom: 53px;
  
      @include desktop() {
        margin-bottom: 60px;
      }
    }
  }
  .form__input {
    padding: 5px;
    width: 100%;
    height: 40px;
  
    background: $white;
    border: 1px solid $body-background-color;
    outline-color: $accent-color;
  
    font-size: 18px;
    line-height: 1.56;
  }
  .form__label {
    position: absolute;
  
    top: 50%;
    left: 5px;
  
    color: $form-color;
  
    transform: translateY(-50%);
    transition: transform 250ms $timing-function;
  
    .form__input:focus + &,
    .form__input:not(:placeholder-shown) + & {
      top: 0;
      transform: translateY(calc(-100% - 4px));
      color: $accent-color;
    }
  }
  
  .form_input_required {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 4px;
  
    top: 100%;
    left: 0;
  
    color: $alert-color;
  
    &::before {
      display: inline-block;
      content: '';
      width: 16px;
      height: 15px;
  
      background-image: url('../images/form/worning.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .form_input_required--hide {
    display: none;
  }