.logo {
  display: block;
  font-size: 32px;
  line-height: 1.32;
  text-align: center;

  color: $white;

  transition: transform 250ms $timing-function;

  &:hover,
  &:focus {
    transform: scale(1.02);
  }

  @include mobile() {
    margin-bottom: 10px;
  }
}
  
.logo__span {
  color: $accent-color;

  @extend %fa-icon;
  @extend .fas;

  &:before {
    display: inline-block;
    content: fa-content($fa-var-book-open);
    margin-right: 5.6px;

    @include tablet() {
      margin-right: 9.7px;
    }
  }
}