.header {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 120px;
    padding-top: 20px;
    @include tablet() {
        min-height: 70px;
        padding-top: 11px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
    background-color: $text-color;
}